<nav class="navbar justify-content-center header">
    <h1>Eat-Da-Burger!</h1>
</nav>

<div class="container fluid burgersList my-4">
    <div class="row main justify-content-center mx-0 my-3">
        <div class="col-sm-6 col-md-6 col-lg-5 py-2">
            <div class="h3Header">
                <h3>Ready to eat?</h3>
            </div>
            <div id="placeholder1" style="display: none;">
                <p>Add your favorite burger!</p>
            </div>
            <div id="left">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-5 py-2">
            <div class="h3Header">
                <h3>Yum!</h3>
            </div>
            <div id="placeholder2" style="display: none;">
                <p>No burgers have been eaten..</p>
            </div>
            <div class="text-muted">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devour=false}}
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center m-0">
        <form class="create-form">
            <div class="form-group">
                <textarea id="burger_name" name="burger_name" rows="3" cols="30"
                    placeholder="Empty input not accepted"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add <i class="fas fa-hamburger"></i></button>
            <div id="instruction">
                Enter a burger you want to eat and Click the "Add <i class="fas fa-hamburger"></i>" button
            </div>
        </form>
    </div>
</div>